<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>KIDNEY DISEASE CLASSIFICATION</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    body { background-color: #eff2f9; }
    .iupload h3 { color: #1b2d6b; font-size: 30px; font-weight: 700; }
    .img-part { height: 300px; width: 300px; margin: 0px auto; }
    .image-part { height: 300px; width: 300px; border: 1px solid #1b2d6b; }
    .image-part img { position: absolute; height: 300px; width: 300px; display: none; padding: 5px; }
    #send { cursor: pointer; }
    .btn-part { width: 325px; }
  </style>
</head>
<body>
  <div class="main container">
    <section class="iupload">
      <h3 class="text-center py-4">KIDNEY DISEASE CLASSIFICATION</h3>
      <div class="row">
        <div class="img-part col-md-6">
          <div class="image-part">
            <img src="../../KIDNEY_PHOTO.jpg" id="photo"> </div>
          <div class="btn-part">
            <form id="upload-data pt-3" class="">
              <div class="input-group mt-3 row">
                <input type="hidden" class="form-control mr-2" id="url" placeholder="Enter REST Api url..." value="../predict">
                <input name="upload" type="file" id="fileinput" style="position:absolute;top:-500px;"/>
                <button type="button" class="btn btn-danger col-md-5 col-xs-5 ml-3 mr-4" id="uload">Upload Image</button>
                <button id="send" type="button" class="btn btn-success col-md-5 col-xs-5">Get Predictions</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 right-part">
          <h5 class="mb-2"><center>Prediction</center></h5>
          <div class="row">
            <div class="res-part col-md-12 col-xs-12"></div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script>
	$(document).ready(function() {
	
	  $('#uload').click(function(evt) {
		$('#fileinput').focus().trigger('click');
	  });
	
	  $("#fileinput").change(function() {
		if (this.files && this.files[0]) {
		  var reader = new FileReader();
		  reader.onload = function (e) {
			$('#photo').attr('src', e.target.result);
			$('#photo').show();
		  };
		  reader.readAsDataURL(this.files[0]);
		}
	  });
	
	  $('#send').click(function(evt) {
		var url = $('#url').val(); 
		var imageData = $('#photo').attr('src').replace(/^data:image\/.*;base64,/, ''); 
	
		$('.res-part').html('<div class="loading-container"><img src="path/to/loading.gif" alt="Loading..." /></div>');
	
		$.ajax({
		  url: url,
		  type: "POST",
		  cache: false,
		  async: true,
		  crossDomain: true,
		  headers: {
			'Content-Type': 'application/json',
			'Access-Control-Allow-Origin': '*'
		  },
		  data: JSON.stringify({ image: imageData }),
		  success: function(response) {
			$('.loading-container').remove(); 
			$('.res-part').html(JSON.stringify(response, undefined, 2)); 
		  },
		  error: function(jqXHR, textStatus, errorThrown) {
			$('.loading-container').remove(); 
			console.error("Error:", textStatus, errorThrown);
			$('.res-part').html("Error: Prediction failed!"); 
		  }
		});
	  });
	
	});
	</script>
	</body>
	</html>